/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
.xt-app .xv-container {
  position: relative;
  height: 600px;
  width: 800px;
  margin-top: 20px;
  left: 50%;
  margin-left: -400px;
  /*position: absolute;
  height: 600px;
  width: 800px;
  top: 50%;
  margin-top: -271px;
  left: 50%;
  margin-left: -400px;*/
}

/**********************************************************************/
/** XV.OrganizationEditor */
/* line 64, ../sass/screen.scss */
.xv-organization-editor {
  display: block;
}

/* line 69, ../sass/screen.scss */
.xv-organization-editor .xv-selected-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  color: #222;
  margin: 5px;
  margin-right: 10px;
  width: 50%;
  height: 200px;
  overflow-y: auto;
}
/* line 80, ../sass/screen.scss */
.xv-organization-editor .xv-selected-list .xv-selected-organization-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 60px;
  padding: 10px;
  font-size: 12px;
}
/* line 86, ../sass/screen.scss */
.xv-organization-editor .xv-selected-list .xv-selected-organization-item .name {
  margin-left: 10px;
  line-height: 40px;
}
/* line 90, ../sass/screen.scss */
.xv-organization-editor .xv-selected-list .xv-selected-organization-item .icon {
  height: 20px;
  width: 20px;
  position: relative;
  top: 10px;
}
/* line 95, ../sass/screen.scss */
.xv-organization-editor .xv-selected-list .xv-selected-organization-item .icon:hover {
  cursor: pointer;
}
/* line 99, ../sass/screen.scss */
.xv-organization-editor .xv-selected-list .xv-selected-organization-item .icon.ok {
  float: right;
}
/* line 103, ../sass/screen.scss */
.xv-organization-editor .xv-selected-list .xv-selected-organization-item .username {
  position: absolute;
  height: 40px;
  top: 10px;
  bottom: 20px;
  right: 40px;
}

/* line 115, ../sass/screen.scss */
.xv-organization-editor .xv-nested-organization-list {
  width: 50%;
  height: 200px;
}
/* line 118, ../sass/screen.scss */
.xv-organization-editor .xv-nested-organization-list .xv-columnar-list-body {
  height: inherit;
}

/** XV.FormElements */
/* line 127, ../sass/screen.scss */
.xv-form-elements .xv-form-element-section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaaaa), color-stop(70%, #555555));
  background-image: -webkit-linear-gradient(#aaaaaa, #555555 70%);
  background-image: -moz-linear-gradient(#aaaaaa, #555555 70%);
  background-image: -o-linear-gradient(#aaaaaa, #555555 70%);
  background-image: linear-gradient(#aaaaaa, #555555 70%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 10;
  padding: 10px;
  margin: 10px;
  color: #fff;
  font-size: 13px;
}
/* line 138, ../sass/screen.scss */
.xv-form-elements .xv-form-element-section .onyx-input-decorator {
  background-color: #ddd;
}
/* line 140, ../sass/screen.scss */
.xv-form-elements .xv-form-element-section .onyx-input-decorator.onyx-focused {
  background-color: #fff;
}
/* line 145, ../sass/screen.scss */
.xv-form-elements .xv-form-element-section .xv-form-element-section-label {
  /*@include border-radius(3px);*/
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #777777), color-stop(70%, #222222));
  background-image: -webkit-linear-gradient(#777777, #222222 70%);
  background-image: -moz-linear-gradient(#777777, #222222 70%);
  background-image: -o-linear-gradient(#777777, #222222 70%);
  background-image: linear-gradient(#777777, #222222 70%);
  -webkit-box-shadow: #444444 0 4px 5px -2px;
  -moz-box-shadow: #444444 0 4px 5px -2px;
  box-shadow: #444444 0 4px 5px -2px;
  /*@include text-shadow(#ddd -1px -1px 0, #000 1px 1px 0);*/
  position: absolute;
  top: 10px;
  left: 0;
  letter-spacing: 1px;
  padding: 8px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin-left: -5px;
}
/* line 161, ../sass/screen.scss */
.xv-form-elements .xv-form-element-section .xv-form-element-spacer {
  position: relative;
  height: 45px;
}
/* line 166, ../sass/screen.scss */
.xv-form-elements .xv-form-element-section .xv-form-element {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaaaa), color-stop(70%, #555555));
  background-image: -webkit-linear-gradient(#aaaaaa, #555555 70%);
  background-image: -moz-linear-gradient(#aaaaaa, #555555 70%);
  background-image: -o-linear-gradient(#aaaaaa, #555555 70%);
  background-image: linear-gradient(#aaaaaa, #555555 70%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  z-index: 10;
  padding: 10px;
  margin: 10px;
  color: #fff;
  font-size: 13px;
}
/* line 178, ../sass/screen.scss */
.xv-form-elements .xv-form-element-section .xv-form-element .onyx-input-decorator {
  background-color: #ddd;
}
/* line 180, ../sass/screen.scss */
.xv-form-elements .xv-form-element-section .xv-form-element .onyx-input-decorator.onyx-focused {
  background-color: #fff;
}

/** XV.ColumnarList */
/* line 193, ../sass/screen.scss */
.xv-columnar-list .xv-columnar-list-header {
  position: absolute;
  top: 15px;
  z-index: 100;
}
/* line 198, ../sass/screen.scss */
.xv-columnar-list .xv-columnar-list-header .xv-columnar-list-header-column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  display: inline-block;
  margin-left: 10px;
}
/* line 205, ../sass/screen.scss */
.xv-columnar-list .xv-columnar-list-header .xv-columnar-list-header-column .xv-columnar-list-header-item {
  /*@include border-radius(3px);*/
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #777777), color-stop(70%, #222222));
  background-image: -webkit-linear-gradient(#777777, #222222 70%);
  background-image: -moz-linear-gradient(#777777, #222222 70%);
  background-image: -o-linear-gradient(#777777, #222222 70%);
  background-image: linear-gradient(#777777, #222222 70%);
  -webkit-box-shadow: #444444 0 4px 5px -2px;
  -moz-box-shadow: #444444 0 4px 5px -2px;
  box-shadow: #444444 0 4px 5px -2px;
  /*@include text-shadow(#ddd -1px -1px 0, #000 1px 1px 0);*/
  display: inline-block;
  letter-spacing: 1px;
  padding: 8px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin-left: -5px;
}

/* line 224, ../sass/screen.scss */
.xv-columnar-list .xv-columnar-list-body .xv-columnar-list-column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaaaa), color-stop(70%, #555555));
  background-image: -webkit-linear-gradient(#aaaaaa, #555555 70%);
  background-image: -moz-linear-gradient(#aaaaaa, #555555 70%);
  background-image: -o-linear-gradient(#aaaaaa, #555555 70%);
  background-image: linear-gradient(#aaaaaa, #555555 70%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  z-index: 10;
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 13px;
}
/* line 235, ../sass/screen.scss */
.xv-columnar-list .xv-columnar-list-body .xv-columnar-list-column .xv-columnar-list-column-spacer {
  position: relative;
  height: 45px;
}
/* line 239, ../sass/screen.scss */
.xv-columnar-list .xv-columnar-list-body .xv-columnar-list-column .xv-columnar-list-row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  overflow: hidden;
}
/* line 244, ../sass/screen.scss */
.xv-columnar-list .xv-columnar-list-body .xv-columnar-list-column .xv-columnar-list-row .xv-columnar-list-row-value {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
}
/* line 249, ../sass/screen.scss */
.xv-columnar-list .xv-columnar-list-body .xv-columnar-list-column .xv-columnar-list-row .xv-columnar-list-row-value:hover {
  cursor: pointer;
  background-color: #aaa;
}
/* line 254, ../sass/screen.scss */
.xv-columnar-list .xv-columnar-list-body .xv-columnar-list-column .xv-columnar-list-row .xv-columnar-list-row-bottom-border {
  border-top: 1px solid #222;
  border-bottom: 1px solid #888;
}
